extend layout
block content
    if boards
        h1.title Tus placas
        each board in boards
            div.card
                h1.title #{board.name}
                p.content #{board.description}
                a.button.is-info(href=`/board/${board._id}`) Ver placa