html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="/css/bulma.css")
        link(rel="shortcut icon", href="/images/nuclear-energy.png", type="image/x-icon")
        block headContent
        title #{title}
    body
        block header
            nav.navbar.is-dark
                .navbar-brand
                    a.navbar-item(href="/")
                        img(src="/images/nuclear-energy.png")
                        span.title.is-size-5.has-text-white(style=" margin-left: 10px") Nuclear Boards
                .navbar-menu
                    .navbar-end
                        if user 
                            a.navbar-item(href="/boards") Boards
                            a.navbar-item(href="/newBoard") Add Board
                            a.navbar-item.has-text-weight-bold.has-text-warning(href="/profile")  #{user.username}
                            
                        else
                            a.navbar-item(href="/boards") Boards
                            a.navbar-item(href="/register")
                                button.button Sign up
                            a.navbar-item(href="/login")
                                button.button Sign in
        main.container
            if error
                .notification.is-danger(style= "margin-top: 50px") #{error}
            block content

        block footerContent
                        